/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
  }
  
  header {
    background-color: #B96135;
    padding: 20px;
    
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
  }
  
  #hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #e68300;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service {
    margin-bottom: 40px;
  }
  
  .service img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .service h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 16px;
  }
  
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  #contact-form button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #contact-form button:hover {
    background-color: #e68300;
  }
  
  footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }

  #instagram {
    background-color: #f9f9f9;
    padding: 50px 0;
    
  }
  
  #instagram h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #instagram p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  #instagram img {
    width: 80px;
    height: 80px;
    border-radius:20%;
    margin-bottom: 20px;
    margin-left: 40%;
  }

  @media screen and (max-width: 768px) {
    #instagram img {
      width: 60px;
      height: 60px;
    }
  }